@use './app/core/styles/theme';

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--cg-background);
  color: var(--cg-text-primary);
  font-family: Roboto, "Helvetica Neue", sans-serif;

  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

* {
  box-sizing: border-box;
}

.mat-app-background {
  background-color: var(--cg-background);
  color: var(--cg-text-primary);
}